<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chart Page</title>
  </head>
  <body>
    <div>
      <div class="titleWrapper">
        <h2>گزارش</h2>
        <svg width="260" height="2" viewBox="0 0 260 2" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M259.5 1H0" stroke="url(#paint0_linear)" />
          <defs>
            <linearGradient id="paint0_linear" x1="260" y1="1.99734" x2="0" y2="1.99734" gradientUnits="userSpaceOnUse">
              <stop stop-color="#3C8023" />
              <stop offset="1" stop-color="#3C8023" stop-opacity="0" />
            </linearGradient>
          </defs>
        </svg>
      </div>
      <div class="chart">
        <canvas id="myLineChart"></canvas>
        <canvas id="myBarChart"></canvas>
      </div>
    </div>
  </body>
</html>
