.Header {
  display: flex;
  column-gap: 5px;
  background-color: #0f155c;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.Header .iamgeClock {
  display: flex;
}

.Header span {
  color: #fff;
  text-align: center;
  font-family: "IranSans";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
