/* POPPINS FONT */
@font-face {
    font-family: IranSans;
    font-style: normal;
    font-weight: 200;
    src: url("../Font/IRANSans/WebFonts/fonts/eot/IRANSansWeb(FaNum)_UltraLight.eot");
    src: url("../Font/IRANSans/WebFonts/fonts/eot/IRANSansWeb(FaNum)_UltraLight.eot?#iefix")
        format("embedded-opentype"),
      url("../Font/IRANSans/WebFonts/fonts/woff2/IRANSansWeb(FaNum)_UltraLight.woff2")
        format("woff2"),
      url("../Font/IRANSans/WebFonts/fonts/woff/IRANSansWeb(FaNum)_UltraLight.woff")
        format("woff"),
      url("../Font/IRANSans/WebFonts/fonts/ttf/IRANSansWeb(FaNum)_UltraLight.ttf")
        format("ttf");
  }
  @font-face {
    font-family: IranSans;
    font-style: normal;
    font-weight: 300;
    src: url("../Font/IRANSans/WebFonts/fonts/eot/IRANSansWeb(FaNum)_Light.eot");
    src: url("../Font/IRANSans/WebFonts/fonts/eot/IRANSansWeb(FaNum)_Light.eot?#iefix")
        format("embedded-opentype"),
      url("../Font/IRANSans/WebFonts/fonts/woff2/IRANSansWeb(FaNum)_Light.woff2")
        format("woff2"),
      url("../Font/IRANSans/WebFonts/fonts/woff/IRANSansWeb(FaNum)_Light.woff")
        format("woff"),
      url("../Font/IRANSans/WebFonts/fonts/ttf/IRANSansWeb(FaNum)_Light.ttf")
        format("ttf");
  }
  @font-face {
    font-family: IranSans;
    font-style: normal;
    font-weight: 400;
    src: url("../Font/IRANSans/WebFonts/fonts/eot/IRANSansWeb(FaNum).eot");
    src: url("../Font/IRANSans/WebFonts/fonts/eot/IRANSansWeb(FaNum).eot?#iefix")
        format("embedded-opentype"),
      url("../Font/IRANSans/WebFonts/fonts/woff2/IRANSansWeb(FaNum).woff2")
        format("woff2"),
      url("../Font/IRANSans/WebFonts/fonts/woff/IRANSansWeb(FaNum).woff")
        format("woff"),
      url("../Font/IRANSans/WebFonts/fonts/ttf/IRANSansWeb(FaNum).ttf")
        format("ttf");
  }
  @font-face {
    font-family: IranSans;
    font-style: normal;
    font-weight: 500;
    src: url("../Font/IRANSans/WebFonts/fonts/eot/IRANSansWeb(FaNum)_Medium.eot");
    src: url("../Font/IRANSans/WebFonts/fonts/eot/IRANSansWeb(FaNum)_Medium.eot?#iefix")
        format("embedded-opentype"),
      url("../Font/IRANSans/WebFonts/fonts/woff2/IRANSansWeb(FaNum)_Medium.woff2")
        format("woff2"),
      url("../Font/IRANSans/WebFonts/fonts/woff/IRANSansWeb(FaNum)_Medium.woff")
        format("woff"),
      url("../Font/IRANSans/WebFonts/fonts/ttf/IRANSansWeb(FaNum)_Medium.ttf")
        format("ttf");
  }
  @font-face {
    font-family: IranSans;
    font-style: normal;
    font-weight: 700;
    src: url("../Font/IRANSans/WebFonts/fonts/eot/IRANSansWeb(FaNum)_Bold.eot");
    src: url("../Font/IRANSans/WebFonts/fonts/eot/IRANSansWeb(FaNum)_Bold.eot?#iefix")
        format("embedded-opentype"),
      url("../Font/IRANSans/WebFonts/fonts/woff2/IRANSansWeb(FaNum)_Bold.woff2")
        format("woff2"),
      url("../Font/IRANSans/WebFonts/fonts/woff/IRANSansWeb(FaNum)_Bold.woff")
        format("woff"),
      url("../Font/IRANSans/WebFonts/fonts/ttf/IRANSansWeb(FaNum)_Bold.ttf")
        format("ttf");
  }

*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "IranSans" !important;
}
body{
    background: url("../img/nsys-group-ZvhZBzwmLic-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgba(39, 39, 39, 0.4);
}


.form-box{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 512px;
    height: 549px;
    overflow: hidden;
    z-index: 2;
}
.login-container{
    position: absolute;
    left: 4px;
    width: 500px;
    display: flex;
    flex-direction: column;
    transition: .5s ease-in-out;
}
.register-container{
    position: absolute;
    /* right: -500px; */
    width: 500px;
    display: flex;
    flex-direction: column;
    transition: .5s ease-in-out;
    bottom: 7px;
}
 
.top span{
    color: #fff;
    font-size: small;
    /* padding: 10px 0; */
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    align-items: center;
}
.top span a{
    font-weight: 700;
    font-size: large;
    color: #fff;
    margin-left: 5px;
    margin-right: 5px;
}
header{
    color: #fff;
    font-size: 30px;
    text-align: center;
    padding: 0 0 30px 0;
}
.two-forms{
    display: flex;
    gap: 10px;
}
.input-field{
    font-size: 15px;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    height: 50px;
    width: 100%;
    padding: 0 45px 0 10px;
    border: none;
    border-radius: 30px;
    outline: none;
    transition: .2s ease;
    text-align: end;
}
.input-field:hover, .input-field:focus{
    background: rgba(255, 255, 255, 0.25);
}
::-webkit-input-placeholder{
    color: #fff;
}
.input-box i{
    position: relative;
    top: -35px;
    left: 93%;
    color: #fff;
}
.submit{
    font-size: 15px;
    font-weight: 500;
    color: black;
    height: 45px;
    width: 100%;
    border: none;
    border-radius: 30px;
    outline: none;
    background: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    transition: .3s ease-in-out;
}
.submit:hover{
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
}
.two-col{
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-size: small;
    margin-top: 10px;
}
.invalid {
    border: 2px solid red;
  }
  
.two-col .one{
    display: flex;
    flex-direction: row-reverse;
    gap: 5px;
}
.two label a{
    text-decoration: none;
    color: #fff;
}
.two label a:hover{
    text-decoration: underline;
}

.radio-buttons {
    display: flex;
    gap: 10px;
    color: white;
    margin-bottom: 19px;
    flex-direction: row-reverse;
    margin-right: 20px;
}
.input-box select {
    font-size: 15px;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    height: 50px;
    width: 100%;
    padding: 0 10px 0 45px;
    border: none;
    border-radius: 30px;
    outline: none;
    transition: .2s ease;
}
.input-box option {
    color: #000; 
    background: #fff; 
}

.input-box input[type="number"]::-webkit-inner-spin-button,
.input-box input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.input-box input[type="number"]{
    -moz-appearance: textfield;
}
.error-message {
    color: white;
    font-size: 12px;
    position: absolute;
    z-index: 1000;
 }
 #imgHeader{
  width: 47%;
  margin-left: 31%;

 }
